*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.tex
*.Rnw
*.un~
.Rproj.user
/Meta/
inst/doc
/doc/
.gitignore
.DS_Store
vignettes/.build.timestamp
vignettes/data_blocks_sc.Rda
data/data_blocks_sc.Rda
..Rcheck/
inst/extdata/data_blocks_sc.Rda
tests/*.svg
*.swp
biocCheck.txt
devtoolsCheck.txt
tests_temp
inst/extdata/data_sc_sce.Rda
inst/extdata/tenx_pbmc5k_CITEseq_annotated.rds
inst/extdata/tenx_pbmc5k_CITEseq_processed.rds
inst/extdata/tenx_pbmc5k_CITEseq_raw.rds
inst/extdata/metadata_sc.csv
inst/extdata/mcia_results_sc.Rds
inst/extdata/marker_genes.csv