*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.tex
*.Rnw
*.un~
.Rproj.user
/Meta/
inst/doc
/doc/
.gitignore
.DS_Store
vignettes/.build.timestamp
vignettes/data_blocks_sc.Rda
data/data_blocks_sc.Rda
..Rcheck/
inst/extdata/data_blocks_sc.Rda
tests/*.svg
*.swp
biocCheck.txt
devtoolsCheck.txt
tests_temp
