# R specific
..Rcheck/
.Rproj.user
*.RData
*.Rhistory
*.Rnw
*.Rproj
*.Rproj.user
*.Ruserdata

# other file extensions
*.html
*.png
*.swp
*.tex
*.un~

# specific files
.DS_Store
.gitignore
biocCheck.txt
devtoolsCheck.txt
vignettes/.build.timestamp

# directories
/doc/
/Meta/
data/
inst/doc
inst/extdata/